<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.zecadev.outervoice.pickerqa">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28" />
    <application android:label="Picker QA" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".ProbeActivity" android:label="QA File Picker" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".ProbeActivity$Gallery" android:label="QA Images Only" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <provider android:name=".ProbeActivity$ToneProvider" android:authorities="com.zecadev.outervoice.pickerqa.tone" android:exported="true" />
    </application>
</manifest>
